{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Masroofy</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <script>

const toggleBtn = document.querySelector('.toggle-btn');

toggleBtn.addEventListener('click', () => {

    document.body.classList.toggle('dark-mode');

});

</script>
    <nav class="navbar">
        <a href="/dashboard">Dashboard</a>
        <a href="/add-expense">Add Expense</a>
        <a href="/history">History</a>
        <a href="/reports">Reports</a>
        <a href="/goal">Saving Goal</a>
        <a href="/pieChart">Consumption</a> <br>
        <a href="/reset" onclick="return confirm('Are you sure?')">Reset Budget</a>
        <a href="/logout">Logout</a>
    </nav>


<h1>Masroofy</h1>
<button class="toggle-btn" onclick="toggleTheme()">
    Toggle Theme
</button>
{% block content %}
{% endblock %}






<script>
    function toggleTheme() {
        document.body.classList.toggle("dark-mode");

        if (document.body.classList.contains("dark-mode")) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
    }

    window.onload = function () {
        const theme = localStorage.getItem("theme");

        if (theme === "dark") {
            document.body.classList.add("dark-mode");
        }
    }
</script>



</body>
</html>