{% extends 'base1.html' %}
{% load static %}

{% block content %}

<h1 class="dashboard-title">
    Expense History
</h1>

<div class="history-container">

    {% for expense in expenses %}

    <div class="history-card">

        <div class="history-info">

            <h2>
                {{ expense.category }}
            </h2>

            <p class="amount">
                {{ expense.amount }} EGP
            </p>

        </div>

        <!-- <a href="/delete/{{ expense.id }}"
           class="delete-btn"
           onclick="return confirm('Delete this expense?')">

            Delete

        </a> -->
   <form action="{% url 'delete_expense' expense.id %}" method="POST">
    {% csrf_token %}

    <button type="submit"
            class="delete-btn"
            onclick="return confirm('Delete this expense?')">

        Delete

    </button>
</form>

    </div>

    {% endfor %}

</div>

{% endblock %}
