

{% extends 'base1.html' %}

{% block content %}

<h2>Expenses History</h2>

{% if expenses %}

    <ul>
        {% for e in expenses %}
        <li style="display:flex; justify-content:center; align-items:center; gap:10px; margin-bottom:10px;">
    <span>{{ e.category }} - {{ e.amount }}</span>

    <form action="/delete/{{ e.id }}/" method="post" style="margin:0;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</li>
        {% endfor %}
    </ul>

{% else %}
    <p>No expenses yet</p>
{% endif %}

<br>


{% endblock %}